.card-Container{

margin: 1rem;
padding: 4rem;
background: whitesmoke;

}

.tittle-container{
    color: rgb(9, 94, 94);
    width: 100%;
    font-size: 500%;
    text-align: center;
    position: relative;
    font-family: Impact;
    font-family: 'McLaren', cursive;
    font-family: 'Staatliches', cursive;
}

.tags-container{
    background:  rgba(2, 52, 52, 0.2);
    width: 100%;
    font-size:180%;
    text-align: center;
    position: relative;
    font-family: Impact;
    font-family: 'McLaren', cursive;
    font-family: 'Staatliches', cursive;
    border-radius: 2rem;
    
}

.button-container{
    float: left;
}

.image{
    width: 100%;
}
.image:hover{
    transform: scale(1.4);
    padding: 2rem;
}

.image-containers{
    margin: 5rem;
    box-shadow: black;
}

.description-container{
    background: rgb(5, 123, 105,0.3);
    font-size: 300%;
    width: 70%;
    position: relative;
    left: 18%;
    font-family: 'Open Sans Condensed', sans-serif;
    border-radius: 2rem;
    padding: 2rem;
}
.button-container{
    position: relative;
    padding:1rem;
}

@media (max-width:800px){
    .description-container{
        width: 120%;
        left: -10%;
        font-size: 150%;
    }
    .tittle-container{
        font-size: 300%;
    }
    .tags-container{
        background: orange;
        width: 100%;
        font-size: 100%;
        text-align: center;
        position: relative;
        font-family: Impact;
        font-family: 'McLaren', cursive;
        font-family: 'Staatliches', cursive;
        
    }
    .image-containers{
        margin: 1rem;
        box-shadow: black;
    }
    .image:hover{
        transform: scale(2.5);
    }

    P{
        text-align: center;
    }
}